<div *ngIf="assignmentType=='View'">
        <div class="cs-mat-view-grid cs-field-userAssign-Label "  >
                 <label >{{actionInfo['actionLabel']}}</label></div>
        <div class="cs-mat-view-grid cs-field-userAssign {{userAssignmentForViewStyle}}">
                <ng-container *ngIf="getUserLists && getUserLists['User']">
                <div class="cs-display-inlineflex {{userAssignmentForViewStyle + 'more'}} cs-userAssignment-more" *ngFor="let item of getUserLists['User']">
       
                        <img alt="" [src]="masterMapping['User'][item['user_id'] +'UserImage']" class="cs-assigneduser-avatar" title="{{masterMapping['User'][item['user_id']]}}" onerror="this.src='assets/img/user_icon.png'">
                   
                </div>
              </ng-container>

                <ng-container *ngIf="getUserLists && getUserLists['Group']">
                        <mat-chip *ngFor="let item of getUserLists['Group']" class="cs-group-chip mat-standard-chip {{userAssignmentForViewStyle + 'more'}} cs-userAssignment-more cs-top-m11">{{masterMapping['Group'][item['user_group_id']]}}</mat-chip>
                </ng-container>

                <ng-container *ngIf="getUserLists && getUserLists['Role']">
                                <mat-chip *ngFor="let item of getUserLists['Role']" class="cs-group-chip mat-standard-chip {{userAssignmentForViewStyle + 'more'}} cs-userAssignment-more cs-top-m11">{{masterMapping['Role'][item['role_id']]}}</mat-chip>
                </ng-container>
                <ng-container *ngIf="getUserLists && getUserLists['Responsibilities']">
                        <mat-chip *ngFor="let item of getUserLists['Responsibilities']" class="cs-group-chip mat-standard-chip {{userAssignmentForViewStyle + 'more'}} cs-userAssignment-more cs-top-m11">{{masterMapping['Responsibilities'][item['responsibility_id']]}}</mat-chip>
        </ng-container>
    
 
        <div class="clearfix cs-cv-user-list-assign" *ngIf="!isHeaderAction && userInfoIndicater">
                <!-- righttoleft -->
                <div class="clearfix cs-userassign-click cs-user-added cs-userassign-custom-width"  title="User Assignment" (mouseenter)="userAssignMouseEnter($event)" (mouseleave)="userAssignMouseLeave_header($event)">
                        <div class="cs-pu cs-pr cs-click-position">
                                <button [id]="elementId" class="cs-mat-pagehead-eachactions cs-mat-icononly cs-userassign-more-position" mat-mini-fab [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="click" (click)="tabsuserAssignclick();">
                                        <em class="{{iconName}}"></em>
                                </button>
                        </div>
                        <div class="cs-userinfoblock cs-ra-esc-t">
                                <div class="cs-ra-assignmentpartmain cs-ra-esc-t">
                                        <div class="cs-ua-loader-view"> 
                                                <span class="cs-loader"></span> 
                                                <span class="cs-loader-text">No Assignment</span>
                                        </div>
                                        <span class="cs-ra-userassignedmain cs-ra-ua-assignedlist" (click)="assignedlistClick($event)" (mouseenter)="assignedlistMouseEnter($event)" (mouseover)="assignedlistMouseOver($event)" (mouseleave)="assignedlistMouseLeave($event)" *ngIf="userAssignmentDataList['User'] && userAssignmentDataList['User'].length" userdetails="user" title="User">
                                                <span class="cs-eachassignedmain cs-assigned-user">
                                                        <i class="icon-cs-individual cs-ts-18"></i>
                                                        <span class="cs-assignedcount">{{userData.length}}</span>
        
                                                </span>
                                        </span>
                                        <span class="cs-ra-usergroupassignedmain cs-ra-ua-assignedlist" (click)="assignedlistClick($event)" (mouseenter)="assignedlistMouseEnter($event)" (mouseover)="assignedlistMouseOver($event)" (mouseleave)="assignedlistMouseLeave($event)" *ngIf="userAssignmentDataList['Group'] && userAssignmentDataList['Group'].length" userdetails="usergroup" title="User Group">
                                                <span class="cs-eachassignedmain cs-assigned-usergroup">
                                                        <i class="icon-cs-group-o cs-ts-18"></i>
                                                        <span class="cs-assignedcount">{{groupData.length}}</span>
        
                                                </span>
                                        </span>
                                        <span class="cs-ra-roleassignedmain cs-ra-ua-assignedlist" (click)="assignedlistClick($event)" (mouseenter)="assignedlistMouseEnter($event)" (mouseover)="assignedlistMouseOver($event)" (mouseleave)="assignedlistMouseLeave($event)" *ngIf="userAssignmentDataList['Role'] && userAssignmentDataList['Role'].length" userdetails="role" title="Role">
                                                <span class="cs-eachassignedmain cs-assigned-role">
                                                        <i class="icon-cs-responsibility cs-ts-18"></i>
                                                        <span class="cs-assignedcount">{{roleData.length}}</span>
        
                                                </span>
                                        </span>
                                        <span class="cs-ra-responseassignedmain cs-ra-ua-assignedlist" (click)="assignedlistClick($event)" (mouseenter)="assignedlistMouseEnter($event)" (mouseover)="assignedlistMouseOver($event)" (mouseleave)="assignedlistMouseLeave($event)" *ngIf="userAssignmentDataList['Responsibilities'] && userAssignmentDataList['Responsibilities'].length" userdetails="responsibility" title="Responsibility">
                                                <span class="cs-eachassignedmain cs-assigned-responsibility">
                                                        <i class="icon-cs-responsibility cs-ts-18"></i>
                                                        <span class="cs-assignedcount">{{responseData.length}}</span>
        
                                                </span>
                                        </span>                              
                                
                                </div>
                        </div>
                </div>
        </div>
        </div>


                
<mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false" mdePopoverOffsetX="after">
       
<ng-container *ngTemplateOutlet="popoverView"></ng-container>
       
</mde-popover>
</div>
<ng-template #popoverView>
        <mat-card  *ngIf="assignmentConfigJson['whomToAssignMode'] && assignmentConfigJson['whomToAssignMode'].length > 0 "  class="cs-morebtn-popup">
        
                <div class="cs-userassignment-popup-toolbar-hd">
                        <div class="cs-userassignment-popup-toolbar">
                                <h4>User Assignment</h4>
                                <button *ngIf="assignmentType !== 'View'" class="cs-userassign-save-btn" [disabled]="saveActionCliked" (click)="saveAction()">
                                        <i class="icon-mat-save"></i>
                                </button>
                        </div>
                </div>
            
                <div class="cs-userassign-userprofile" *ngIf="selectedObject && assignmentConfigJson['prominentFieldInfo'] && assignmentConfigJson['prominentFieldInfo'].length>0">
                  
                      
                        <div *ngFor="let fieldElement of assignmentConfigJson['prominentFieldInfo']" >
                                <h6 *ngIf="fieldElement['fieldType']=='TEXT'">{{selectedObject | cspfm_data_display :
                                       fieldElement}}</h6>
                                <label *ngIf="fieldElement['fieldType']=='URL'" class="cs-userassign-userprofile-landmark"> 
                                        {{(selectedObject | cspfm_data_display : fieldElement)['display']}}  
                                </label>
                                <label  *ngIf="fieldElement['fieldType']!='TEXT' && fieldElement['fieldType']!='URL'" class="cs-userassign-userprofile-landmark">      {{selectedObject | cspfm_data_display :
                                        fieldElement}}
                                </label>
                               
                        </div>
                </div>
            

                <div style="margin-top: -5px;">
                        <tabs (currentTabChange)="tabChangeMethod($event)"  class="cs-userassignment-tabs"  *ngIf="userAssignmentConfigTypeList && userAssignmentConfigTypeList.length>0">
                                <tab class="cs-tab-back-none" tabTitle="All" *ngIf="userAssignmentConfigTypeList && userAssignmentConfigTypeList.length>1">
                                        <!-- Selected User -->
                                        <div class="cs-custom-scroll cs-all-card cs-display-block" id="selectedAll">
                                                <div class="cs-hpad-16" *ngIf="userAssignmentConfigTypeList&& userAssignmentConfigTypeList.indexOf('User')>-1 && userAssignmentDataList['User'] && userAssignmentDataList['User'].length>0" >
                                                        <div class="cs-all-header">
                                                                <div class="cs-display-inlineblock">
                                                                        <label class="cs-all-head-label">User</label>
                                                                </div>
                                                                <div class="cs-user-morebtn">
                                                                        <button (click)="showMoreUserContent()">
                                                                                <i class="icon-mat-expand_more"></i>
                                                                        </button>
                                                                </div>
                                                        </div>
                                                        <div  class="cs-custom-scroll cs-all-accordian-height"*ngIf="showUserIcon">
                                                                <ng-container *ngFor="let items of userAssignmentDataList['User']">
                                                                <div class="cs-user-img" *ngIf="items['isActive']">
                                                                         <img  title="{{masterMapping['User'][items['user_id']]}}" [src]="masterMapping['User'][items['user_id'] +'UserImage']" alt="userImage" onerror="this.src='assets/img/user_icon.png'" >
                                                                </div>
                                                        </ng-container>
                                                               
                                                        </div>
                                                </div>
                                                <div class="cs-hpad-16 cs-bmar-16" *ngIf="userAssignmentConfigTypeList&& userAssignmentConfigTypeList.indexOf('Group')>-1&&userAssignmentDataList['Group'] && userAssignmentDataList['Group'].length>0" >
                                                        <div class="cs-all-header">
                                                                <div class="cs-display-inlineblock">
                                                                        <label class="cs-all-head-label">Group</label>

                                                                </div>
                                                                <div class="cs-user-morebtn">
                                                                        <button (click)="showMoregroupContent()">
                                                                                <i class="icon-mat-expand_more"></i>
                                                                        </button>
                                                                </div>
                                                        </div>
                                                        <div class="cs-custom-scroll cs-all-accordian-height" *ngIf="showGroupContent">
                                                                <mat-chip-list>
                                                                        <ng-container  *ngFor="let items of userAssignmentDataList['Group']">
                                                                        <mat-chip class="cs-group-chip cs-chip-allign" *ngIf="items['isActive']">
                                                                               {{masterMapping['Group'][items['user_group_id']]}}</mat-chip>
                                                                        </ng-container>
                                                                    
                                                                </mat-chip-list>
                                                        </div>
                                                </div>
                                                <div class="cs-hpad-16" *ngIf="userAssignmentConfigTypeList&& userAssignmentConfigTypeList.indexOf('Role')>-1&&userAssignmentDataList['Role'] && userAssignmentDataList['Role'].length>0" >
                                                        <div class="cs-all-header">
                                                                <div class="cs-display-inlineblock">
                                                                        <label class="cs-all-head-label">Role</label>

                                                                </div>
                                                                <div class="cs-user-morebtn">
                                                                        <button (click)="showMoreroleContent()">
                                                                                <i class="icon-mat-expand_more"></i>
                                                                        </button>
                                                                </div>
                                                        </div>
                                                        <div class="cs-custom-scroll cs-all-accordian-height" *ngIf="showRoleContent">
                                                                <mat-chip-list >
                                                                        <ng-container *ngFor="let items of userAssignmentDataList['Role']">
                                                                        <mat-chip class="cs-role-chip cs-chip-allign" *ngIf="items['isActive']">
                                                                                {{masterMapping['Role'][items['role_id']]}}</mat-chip>
                                                                        </ng-container>
                                                                
                                                                </mat-chip-list>
                                                        </div>
                                                </div>
                                                <div class="cs-hpad-16" *ngIf="userAssignmentConfigTypeList&& userAssignmentConfigTypeList.indexOf('Responsibilities')>-1&&userAssignmentDataList['Responsibilities'] && userAssignmentDataList['Responsibilities'].length>0" >
                                                        <div class="cs-all-header">
                                                                <div class="cs-display-inlineblock">
                                                                        <label class="cs-all-head-label">Responsibility</label>

                                                                </div>
                                                                <div class="cs-user-morebtn">
                                                                        <button (click)="showMoreResponseContent()">
                                                                                <i class="icon-mat-expand_more"></i>
                                                                        </button>
                                                                </div>
                                                        </div>
                                                        <div class="cs-custom-scroll cs-all-accordian-height" *ngIf="showResponseContent">
                                                                <mat-chip-list >
                                                                        <ng-container *ngFor="let items of userAssignmentDataList['Responsibilities']">
                                                                        <mat-chip class="cs-role-chip cs-chip-allign" *ngIf="items['isActive']">
                                                                                {{masterMapping['Responsibilities'][items['responsibility_id']]}}</mat-chip>
                                                                        </ng-container>
                                                                
                                                                </mat-chip-list>
                                                        </div>
                                                </div>
                                                <div *ngIf="(!userAssignmentDataList['Responsibilities'] || userAssignmentDataList['Responsibilities']&&userAssignmentDataList['Responsibilities'].length==0) &&
                                                 (!userAssignmentDataList['User'] || userAssignmentDataList['User']&&
                                                 userAssignmentDataList['User'].length==0) && 
                                                 (!userAssignmentDataList['Role'] || userAssignmentDataList['Role']&&userAssignmentDataList['Role'].length==0) && (!userAssignmentDataList['Group'] || userAssignmentDataList['Group']&&userAssignmentDataList['Group'].length==0) ">
                                                        <img class="cs-ua-nr cs-ua-nr-all" src="assets/img/no_record_found.png" alt="">
                                                </div>
                                        </div>
                                </tab>

                                <tab class="cs-tab-back-none" tabTitle="User" *ngIf="userAssignmentConfigTypeList&& userAssignmentConfigTypeList.indexOf('User')>-1" >
                                        <div *ngIf="assignmentType !== 'View'" class="cs-ua-search-block">
                                                <mat-form-field  class="cs-search-field" [floatLabel]="'always'" appearance="none">
                                                        <div class="cs-userassign-search-txt">
                                                                <input autocomplete="off" (click)="searchEnter($event,'User')" (keyup)="searchListOne($event,'User','user_id')" [(ngModel)]='searchKey' matInput class="cs-userassign-search-input">
                                                        </div>
                                                        <div class="cs-userassign-search-button">
                                                                <button class="cs-userassign-search-btn" (click)="searchEnter($event,'User')">
                                                                        <em class="icon-mat-search"></em>
                                                                </button> 
                                                        </div>
                                                </mat-form-field>  
                                        </div>                                        
                                        <div class="cs-userassign-avatar-list cs-custom-scroll cs-hpad-16 cs-display-block" id="selectedUser">
                                                <span class="cs-ua-initial-loader" *ngIf="isDataLoading"></span>
                                                <ng-container *ngIf=" !isDataLoading && userAssignmentDataList['User'] && userAssignmentDataList['User'].length>0">
                                                        <div class="cs-userassign-avatar-list-item"  *ngFor="let items of userAssignmentDataList['User']">
                                                                <ng-container *ngIf="items['isActive']">
                                                                        <img  [src]="masterMapping['User'][items['user_id'] +'UserImage']" class="cs-userassign-avatar-list-img" title="{{masterMapping['User'][items['user_id']]}}" onerror="this.src='assets/img/user_icon.png'"  alt="userImage">
                                                                        <button *ngIf="assignmentType !== 'View' && items['manual']" (click)="removeItem($event,items,'User','user_id')" title="Remove" class="cs-user-clr cs-display-none">
                                                                                <em class="icon-mat-clear"></em>
                                                                        </button>
                                                                </ng-container>
                                                        </div> 
                                                </ng-container>
                                                <ng-container *ngIf="!isDataLoading && (!userAssignmentDataList['User'] || (userAssignmentDataList['User'] && userAssignmentDataList['User'].length==0))">
                                                        <img class="cs-ua-nr" src="assets/img/no_record_found.png" alt="">
                                                </ng-container>

                                                
                                        </div>
                                        <!-- User Records List -->
                                        <div class="cs-userassign-sel-user cs-display-none" id="selectUser">
                                                <mat-card class="cs-userassign-sel-user-card cs-custom-scroll">
                                                        <mat-list class="cs-userassign-sel-user-list">     
                                                                <ng-container *ngIf=" !popupDataLoading && corUserDataList && corUserDataList.length>0">                                                           
                                                                <mat-list-item class="cs-userassign-sel-user-item" *ngFor="let item of corUserDataList | UserAssignSearchFilter: searchKey : 'User'" (click)="itemClickAction($event,item,'User','user_id')">
                                                                        <div class="cs-ua-user-list">
                                                                                <img alt="" [src]="item['UserImage']"  onerror="this.src='assets/img/user_icon.png'">
                                                                                <label>{{item['username']}}</label>
                                                                        </div>
                                                                      
                                                                </mat-list-item>   
                                                        </ng-container>                                                          
                                                                <div *ngIf="!popupDataLoading && corUserDataList &&corUserDataList.length==0">                                
                                                                        <img class="cs-ua-group-selcard-no-img" src="assets/img/no_record_found.png" alt="">
                                                                </div>
                                                                <div class="cs-ua-loading" *ngIf="popupDataLoading">
                                                                        <img class="cs-ua-loading-img" alt="" src='assets/img/dataloading.gif'>
                                                                </div>
                                                        
                                                        </mat-list>
                                                </mat-card>
                                        </div>
                                </tab>

                                <tab class="cs-tab-back-none cs-userassign-group" tabTitle="Group" *ngIf="userAssignmentConfigTypeList&& userAssignmentConfigTypeList.indexOf('Group')>-1">
                                        <div *ngIf="assignmentType !== 'View'" class="cs-ua-search-block">
                                                <mat-form-field   class="cs-search-field" [floatLabel]="'always'" appearance="none">
                                                        <div class="cs-userassign-search-txt">
                                                                <input matInput autocomplete="off"  (click)="searchEnter($event,'Group')" (keyup)="searchListOne($event,'Group','user_group_id')" [(ngModel)]='searchKey' class="cs-userassign-search-input">
                                                        </div>
                                                        <div class="cs-userassign-search-button">
                                                                <button class="cs-userassign-search-btn" (click)="searchEnter($event,'Group')">
                                                                        <em class="icon-mat-search"></em>
                                                                </button> 
                                                        </div>
                                                </mat-form-field>
                                        </div>
                                        <!-- selected Team -->
                                        <div class="cs-userassign-seleted-chip cs-custom-scroll cs-display-block" id="selectedGroup">
                                                <mat-chip-list #chiplist>
                                                        <span class="cs-ua-initial-loader" *ngIf="isDataLoading"></span>
                                                        <ng-container *ngIf="!isDataLoading&&userAssignmentDataList['Group'] && userAssignmentDataList['Group'].length>0">
                                                                        <ng-container  *ngFor="let item of userAssignmentDataList['Group']">
                                                                                <mat-chip class="cs-group-chip cs-rmve-item"  *ngIf="item['isActive']"> 
                                                                                        {{masterMapping['Group'][item['user_group_id']]}}
                                                                                        <button *ngIf="assignmentType !== 'View' && item['manual']" class="cs-display-none" (click)="removeItem($event,item,'Group','user_group_id')" title="Remove">
                                                                                                <em class="icon-mat-clear"></em>
                                                                                        </button>
                                                                                </mat-chip>
                                                                        </ng-container>
                                                        </ng-container>
                                                        <ng-container *ngIf="!isDataLoading && (!userAssignmentDataList['Group'] ||( userAssignmentDataList['Group'] && userAssignmentDataList['Group'].length==0))">
                                                                <img class="cs-ua-nr" src="assets/img/no_record_found.png" alt="">
                                                        </ng-container>
                                                </mat-chip-list>
                                        </div>
                                        <!-- Select team -->

                                        <div class="cs-userassign-group-sel cs-display-none" id="selectGroup">
                                                <mat-card class="cs-userassign-group-selcard cs-custom-scroll">
                                                        <mat-form-field [floatLabel]="'always'" appearance="none"  class="cs-userassign-group-formfield">
                                                                
                                                                <mat-chip-list #chiplist>
                                                                        <ng-container *ngIf="!popupDataLoading && userGroupList && userGroupList.length>0">
                                                                        <mat-chip *ngFor="let item of userGroupList | UserAssignSearchFilter: searchKey : 'Group'" (click)="itemClickAction($event,item,'Group','user_group_id')" class="cs-userassign-group-chip cs-group-hover">
                                                                                <div class="cs-ua-chip-option">
                                                                                        <em class="cs-ua-g-icon icon-mat-group cs-grp-icon-bg"></em>
                                                                                        <label class="cs-truncate cs-userassing-teamlabel">{{item['display_name']}}</label>
                                                                                </div>
                                                                                <em *ngIf="item['isSelected']" class="icon-mat-check cs-ua-selectunselect"></em>
                                                                        </mat-chip>
                                                                </ng-container>
                                                                       
                                                                </mat-chip-list>
                                                        
                                                        </mat-form-field>
                                                        <div *ngIf="!popupDataLoading && userGroupList && userGroupList.length==0">                                
                                                                <img class="cs-ua-group-selcard-no-img" src="assets/img/no_record_found.png" alt="">
                                                        </div>
                                                        <div class="cs-ua-loading" *ngIf="popupDataLoading">
                                                                <img class="cs-ua-loading-img" alt="" src='assets/img/dataloading.gif'>
                                                        </div>
                                                </mat-card>
                                        </div>
                                </tab>

                                <tab class="cs-tab-back-none cs-userassign-group" tabTitle="Role" *ngIf="userAssignmentConfigTypeList&& userAssignmentConfigTypeList.indexOf('Role')>-1">
                                        <div *ngIf="assignmentType !== 'View'" class="cs-ua-search-block">
                                                <mat-form-field  class="cs-search-field" [floatLabel]="'always'" appearance="none">
                                                        <div class="cs-userassign-search-txt">
                                                                <input (click)="searchEnter($event,'Role')" autocomplete="off"  (keyup)="searchListOne($event,'Role','role_id')" [(ngModel)]='searchKey' matInput class="cs-userassign-search-input">
                                                        </div>
                                                        <div class="cs-userassign-search-button">
                                                                <button class="cs-userassign-search-btn" (click)="searchEnter($event,'Role')">
                                                                        <em class="icon-mat-search"></em>
                                                                </button>
                                                        </div>
                                                </mat-form-field>
                                        </div>
                                            <div class="cs-userassign-seleted-chip cs-userassign-role cs-custom-scroll cs-display-block" id="selectedRole">
                                                <mat-chip-list #chiplist>
                                                        <ng-container *ngIf="!isDataLoading && userAssignmentDataList['Role'] && userAssignmentDataList['Role'].length>0">
                                                        <ng-container *ngFor="let items of userAssignmentDataList['Role']">
                                                        <mat-chip class="cs-role-chip cs-rmve-item" *ngIf="items['isActive']"> {{masterMapping['Role'][items['role_id']]}}
                                                                <button class="cs-display-none" *ngIf="assignmentType !== 'View' && items['manual']"  (click)="removeItem($event,items,'Role','role_id')" title="Remove">
                                                                        <em class="icon-mat-clear"></em>
                                                                </button>
                                                        </mat-chip>
                                                </ng-container>
                                                        </ng-container>
                                                        <ng-container *ngIf="!isDataLoading && (!userAssignmentDataList['Role'] || ( userAssignmentDataList['Role'] && userAssignmentDataList['Role'].length==0))">
                                                                <img class="cs-ua-nr" src="assets/img/no_record_found.png" alt="">
                                                        </ng-container>
                                                </mat-chip-list>
                                        </div>
                                        <!-- Select Role -->
                                        <div class="cs-userassign-group-sel cs-display-none" id="selectRole">
                                                
                                                <span class="cs-ua-initial-loader" *ngIf="isDataLoading"></span>
                                                <mat-card class="cs-userassign-group-selcard cs-custom-scroll">
                                                        <mat-form-field [floatLabel]="'always'" appearance="none" class="cs-userassign-group-formfield">
                                                                <mat-chip-list #chiplist>
                                                                        <ng-container *ngIf="!popupDataLoading && corRoleDataList && corRoleDataList.length>0">
                                                                        <mat-chip  *ngFor="let item of corRoleDataList | UserAssignSearchFilter: searchKey : 'Role'" (click)="itemClickAction($event,item,'Role','role_id')" class="cs-userassign-group-chip cs-group-hover">
                                                                                <div class="cs-ua-chip-option">
                                                                                        <em class="cs-ua-g-icon icon-mat-assignment_ind cs-role-icon-bg"></em>
                                                                                        <label class="cs-truncate cs-userassing-teamlabel">{{item['role_name']}}</label>
                                                                                </div>
                                                                               
                                                                        </mat-chip>
                                                                </ng-container>
                                                                </mat-chip-list>                                                                
                                                        </mat-form-field>
                                                        <div *ngIf="!popupDataLoading && corRoleDataList && corRoleDataList.length==0">                                
                                                                <img class="cs-ua-group-selcard-no-img" src="assets/img/no_record_found.png" alt="">
                                                        </div>
                                                        <div class="cs-ua-loading" *ngIf="popupDataLoading">
                                                                <img class="cs-ua-loading-img" alt="" src='assets/img/dataloading.gif'>
                                                        </div>
                                                </mat-card>
                                        </div>

                                </tab>
                                
                                <tab class="cs-tab-back-none cs-userassign-group" tabTitle="Responsibility" *ngIf="userAssignmentConfigTypeList&& userAssignmentConfigTypeList.indexOf('Responsibilities')>-1">
                                        <div *ngIf="assignmentType !== 'View'" class="cs-ua-search-block">
                                                <mat-form-field class="cs-search-field" [floatLabel]="'always'"
                                                        appearance="none">
                                                        <div class="cs-userassign-search-txt">
                                                                <input (click)="searchEnter($event,'Response')" autocomplete="off"  (keyup)="searchListOne($event,'Responsibilities','responsiblity_id')" [(ngModel)]='searchKey' matInput class="cs-userassign-search-input">
                                                        </div>
                                                        <div class="cs-userassign-search-button">
                                                                <button class="cs-userassign-search-btn" (click)="searchEnter($event,'Response')">
                                                                        <em class="icon-mat-search"></em>
                                                                </button>
                                                        </div>
                                                </mat-form-field>
                                        </div>                                       
                                        <div class="cs-userassign-seleted-chip cs-userassign-response cs-custom-scroll cs-display-block" id="selectedResponse">

                                                <span class="cs-ua-initial-loader" *ngIf="isDataLoading"></span>
                                                <mat-chip-list #chiplist>
                                                        <ng-container *ngIf="!isDataLoading && userAssignmentDataList['Responsibilities'] && userAssignmentDataList['Responsibilities'].length>0">
                                                        <ng-container *ngFor="let items of userAssignmentDataList['Responsibilities']">
                                                        <mat-chip class="cs-role-chip cs-rmve-item" *ngIf="items['isActive']"> {{masterMapping['Responsibilities'][items['responsibility_id']]}}
                                                                <button class="cs-display-none" *ngIf="assignmentType !== 'View' && items['manual']" (click)="removeItem($event,items,'Responsibilities','responsibility_id')" title="Remove">
                                                                        <em class="icon-mat-clear"></em>
                                                                </button>
                                                        </mat-chip>
                                                </ng-container >
                                                         </ng-container >
                                                        <ng-container *ngIf="!isDataLoading && (!userAssignmentDataList['Responsibilities'] || ( userAssignmentDataList['Responsibilities'] && userAssignmentDataList['Responsibilities'].length==0))">
                                                                <img class="cs-ua-nr" src="assets/img/no_record_found.png" alt="">
                                                        </ng-container>

                                               
                                                </mat-chip-list>
                                        </div>
                                        <!-- Select Response -->
                                        <div class="cs-userassign-group-sel cs-display-none" id="selectResponse">
                                           
                                                <mat-card class="cs-userassign-group-selcard cs-custom-scroll">
                                                        <mat-form-field [floatLabel]="'always'" appearance="none" class="cs-userassign-group-formfield">
                                                                <mat-chip-list #chiplist>
                                                                        <ng-container *ngIf="!popupDataLoading && corResponseList && corResponseList.length>0">
                                                                        <mat-chip  *ngFor="let item of corResponseList | UserAssignSearchFilter: searchKey : 'Responsibility'" (click)="itemClickAction($event,item,'Responsibilities','responsibility_id')"
                                                                                class="cs-userassign-group-chip cs-group-hover">
                                                                                <div class="cs-ua-chip-option">
                                                                                        <em class="cs-ua-g-icon icon-mat-shield cs-role-icon-bg"></em>
                                                                                        <label class="cs-truncate cs-userassing-teamlabel">{{item['responsibility_name']}}</label>
                                                                                </div>
                                                                                <em *ngIf="item['isSelected']" class="icon-mat-check cs-ua-selectunselect"></em>
                                                                        </mat-chip>
                                                                </ng-container>
                                                                </mat-chip-list>
                                                        </mat-form-field>
                                                        <div *ngIf="!popupDataLoading && corResponseList && corResponseList.length==0">                                
                                                                <img class="cs-ua-group-selcard-no-img" src="assets/img/no_record_found.png" alt="">
                                                        </div>
                                                        <div class="cs-ua-loading" *ngIf="popupDataLoading">
                                                                <img class="cs-ua-loading-img" alt="" src='assets/img/dataloading.gif'>
                                                        </div>
                                                </mat-card>
                                        </div>
                                </tab>
                        </tabs>
                </div>
        </mat-card>
        <mat-card *ngIf="!(assignmentConfigJson['whomToAssignMode'] && assignmentConfigJson['whomToAssignMode'].length > 0)">
                No Assignment
        </mat-card>
</ng-template>


<div   class="cs-display-inlineblock" *ngIf="assignmentType=='Action'">

<button *ngIf="isHeaderAction && !userInfoIndicater" (click)="tabsuserAssignclick()" [id]="elementId" mat-mini-fab class="cs-mat-pagehead-eachactions cs-mat-icononly" [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="click">
        <em   class="{{iconName}}"></em>
        <!-- <span *ngIf="actionDisplayType=='Button' || actionDisplayType=='IconandButton'" >{{actionInfo['actionLabel']}}</span> -->
   
</button>

<!-- header part -->
<div class="clearfix cs-cv-user-list-assign cs-header-userassign cs-userassignment-header" *ngIf="isHeaderAction && userInfoIndicater">
     
        <div class="clearfix cs-userassign-click cs-user-added"  title="User Assignment" (mouseenter)="userAssignMouseEnter($event)" (mouseleave)="userAssignMouseLeave_header($event)">
                <!-- <div class="cs-pu cs-pr cs-click-position"> -->
                        <button *ngIf="actionDisplayType=='IconandButton'"  [id]="elementId" class="cs-mat-pagehead-eachactions cs-mat-iconandlabelonly cs-user-icon-div-header" mat-mini-fab [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="click" (click)="tabsuserAssignclick()">
                                <em class="{{iconName}}"></em>
                                <span  >{{actionInfo['actionLabel']}}</span>
                        </button>

                 <button [id]="elementId" *ngIf="actionDisplayType=='Icon'"  class="cs-mat-pagehead-eachactions cs-mat-icononly cs-user-icon-div-header" mat-mini-fab [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="click" (click)="tabsuserAssignclick()">
                <em  class="{{iconName}}"></em>
                </button>


                                <button [id]="elementId" *ngIf="actionDisplayType=='Button'"  class="cs-mat-pagehead-eachactions cs-mat-labelonly cs-user-icon-div-header" mat-mini-fab [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="click" (click)="tabsuserAssignclick()">   
                                <span >{{actionInfo['actionLabel']}}</span>
                                </button> 
                <!-- </div> -->
                <div class="cs-userinfoblock-header cs-ra-esc-t">
                        <div class="cs-ra-assignmentpartmain cs-ra-esc-t">
                                <div class="cs-ua-loader-view"> 
                                        <span class="cs-loader"></span> 
                                        <span class="cs-loader-text">No Assignment</span>
                                </div>
                                <span class="cs-ra-userassignedmain cs-ra-ua-assignedlist" (click)="assignedlistClick($event)" (mouseenter)="assignedlistMouseEnter($event)" (mouseover)="assignedlistMouseOver_header($event)" (mouseleave)="assignedlistMouseLeave($event)" *ngIf="userAssignmentDataList['User'] && userAssignmentDataList['User'].length" userdetails="user" title="User">
                                        <span class="cs-eachassignedmain cs-assigned-user">
                                                <i class="icon-cs-individual cs-ts-18"></i>
                                        <span class="cs-assignedcount">{{userAssignmentDataList['User'].length}}</span>

                                        </span>
                                </span>
                                <span class="cs-ra-usergroupassignedmain cs-ra-ua-assignedlist" (click)="assignedlistClick($event)" (mouseenter)="assignedlistMouseEnter($event)" (mouseover)="assignedlistMouseOver_header($event)" (mouseleave)="assignedlistMouseLeave($event)" *ngIf="userAssignmentDataList['Group'] && userAssignmentDataList['Group'].length" userdetails="usergroup" title="User Group">
                                        <span class="cs-eachassignedmain cs-assigned-usergroup">
                                                <i class="icon-cs-group-o cs-ts-18"></i>
                                        <span class="cs-assignedcount">{{userAssignmentDataList['Group'].length}}</span>

                                        </span>
                                </span>
                                <span class="cs-ra-roleassignedmain cs-ra-ua-assignedlist" (click)="assignedlistClick($event)" (mouseenter)="assignedlistMouseEnter($event)" (mouseover)="assignedlistMouseOver_header($event)" (mouseleave)="assignedlistMouseLeave($event)" *ngIf="userAssignmentDataList['Role'] && userAssignmentDataList['Role'].length" userdetails="role" title="Role">
                                        <span class="cs-eachassignedmain cs-assigned-role">
                                                <i class="icon-cs-responsibility cs-ts-18"></i>
                                        <span class="cs-assignedcount">{{userAssignmentDataList['Role'].length}}</span>

                                        </span>
                                </span>
                                <span class="cs-ra-responseassignedmain cs-ra-ua-assignedlist" (click)="assignedlistClick($event)" (mouseenter)="assignedlistMouseEnter($event)" (mouseover)="assignedlistMouseOver_header($event)" (mouseleave)="assignedlistMouseLeave($event)" *ngIf="userAssignmentDataList['Responsibilities'] && userAssignmentDataList['Responsibilities'].length" userdetails="responsibility" title="Responsibility">
                                        <span class="cs-eachassignedmain cs-assigned-responsibility">
                                                <i class="icon-cs-responsibility cs-ts-18"></i>
                                        <span class="cs-assignedcount">{{userAssignmentDataList['Responsibilities'].length}}</span>

                                        </span>
                                </span>                              
                        
                        </div>
                </div>
        </div>
</div>


<div class="clearfix cs-cv-user-list-assign" *ngIf="!isHeaderAction && userInfoIndicater">
      
        <!-- righttoleft -->
        <!-- [ngClass]="{'righttoleft': isrighttoleft}" -->
        <div class="clearfix cs-userassign-click cs-user-added cs-userassign-custom-width" title="User Assignment" (mouseenter)="userAssignMouseEnter($event)" (mouseleave)="userAssignMouseLeave($event)">
                <div class="cs-pu cs-pr cs-click-position">
                        <button [id]="elementId" *ngIf="actionDisplayType=='IconandButton'"  class="cs-mat-pagehead-eachactions cs-mat-iconandlabelonly cs-user-icon-div" [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="click" (click)="morebtnaction()">
                       
                                <em  class="{{iconName}}"></em>
                                <span class="cs-mat-btnlabel">{{actionInfo['actionLabel']}}</span>
                              
                        </button>

                         <button [id]="elementId"  *ngIf="actionDisplayType=='Icon'" class="cs-mat-pagehead-eachactions cs-mat-icononly cs-user-icon-div" [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="click" (click)="morebtnaction()">
                       
                                <em  class="{{iconName}}"></em>
                              
                              
                        </button>                        

                        <button [id]="elementId" *ngIf="actionDisplayType=='Button'" class="cs-mat-pagehead-eachactions cs-mat-labelonly cs-user-icon-div" [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="click" (click)="morebtnaction()">

                                <span class="cs-mat-btnlabel">{{actionInfo['actionLabel']}}</span>
                              
                        </button>  
                </div>
                <div class="cs-userinfoblock cs-ra-esc-t">
                        <div class="cs-ra-assignmentpartmain cs-ra-esc-t">
                                <div class="cs-ua-loader-view"> 
                                        <span class="cs-loader"></span> 
                                        <span class="cs-loader-text">No Assignment</span>
                                </div>
                                <span class="cs-ra-userassignedmain cs-ra-ua-assignedlist" (click)="assignedlistClick($event)"  (mouseenter)="assignedlistMouseEnter($event)" (mouseover)="assignedlistMouseOver($event)" (mouseleave)="assignedlistMouseLeave($event)" *ngIf="userAssignmentDataList['User'] && userAssignmentDataList['User'].length" userdetails="user" title="User">
                                        <span class="cs-eachassignedmain cs-assigned-user">
                                                <i class="icon-cs-individual cs-ts-18"></i>
                                        <span class="cs-assignedcount">{{userData.length}}</span>

                                        </span>
                                </span>
                                <span class="cs-ra-usergroupassignedmain cs-ra-ua-assignedlist" (click)="assignedlistClick($event)"  (mouseenter)="assignedlistMouseEnter($event)" (mouseover)="assignedlistMouseOver($event)" (mouseleave)="assignedlistMouseLeave($event)" *ngIf="userAssignmentDataList['Group'] && userAssignmentDataList['Group'].length" userdetails="usergroup" title="User Group">
                                        <span class="cs-eachassignedmain cs-assigned-usergroup">
                                                <i class="icon-cs-group-o cs-ts-18"></i>
                                        <span class="cs-assignedcount">{{groupData.length}}</span>

                                        </span>
                                </span>
                                <span class="cs-ra-roleassignedmain cs-ra-ua-assignedlist" (click)="assignedlistClick($event)"  (mouseenter)="assignedlistMouseEnter($event)" (mouseover)="assignedlistMouseOver($event)" (mouseleave)="assignedlistMouseLeave($event)" *ngIf="userAssignmentDataList['Role'] && userAssignmentDataList['Role'].length" userdetails="role" title="Role">
                                        <span class="cs-eachassignedmain cs-assigned-role">
                                                <i class="icon-cs-responsibility cs-ts-18"></i>
                                        <span class="cs-assignedcount">{{roleData.length}}</span>

                                        </span>
                                </span>
                                <span class="cs-ra-responseassignedmain cs-ra-ua-assignedlist" (click)="assignedlistClick($event)"  (mouseenter)="assignedlistMouseEnter($event)" (mouseover)="assignedlistMouseOver($event)" (mouseleave)="assignedlistMouseLeave($event)" *ngIf="userAssignmentDataList['Responsibilities'] && userAssignmentDataList['Responsibilities'].length" userdetails="responsibility" title="Responsibility">
                                        <span class="cs-eachassignedmain cs-assigned-responsibility">
                                                <i class="icon-cs-responsibility cs-ts-18"></i>
                                        <span class="cs-assignedcount">{{responseData.length}}</span>

                                        </span>
                                </span>
                        </div>
                </div>
        </div>
</div>
<!-- Popover component-->

<mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false" mdePopoverOffsetX="after">
        <ng-container *ngTemplateOutlet="popoverView"></ng-container>
</mde-popover>
</div>